{% extends "pages/base.html" %}

{% block title %}{{product.name}}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <img src="{{product.image.url}}" width="500px" height="500px" />
            </div>
            <div class="col-sm-2">
                <h3>{{product.name}}</h3>
                Mô tả sản phẩm
                {{product.infomation|safe|linebreaks}}
                <h6> Số lượng {{product.number}}</h6>
                <h6> Địa chỉ {{product.location}}</h6>
                <h6> Giá {{product.price}} đ</h6>
            </div>
        </div>
    </div>

    <h3><strong>Bình luận</strong></h3>
    {% for comment in product.comments.all %}
        <h5>{{comment.author}}</h5>
        {{comment.date}}
        <p>{{comment.body|linebreaks}}</p>
    {% endfor %}

    {% if user.username %}
        <form action="{% url 'product' product.pk %}" method="POST">
            {% csrf_token %}
            <p><label>Đánh giá sản phẩm:</label></p>
            {{form.body}}
            <br/>
            <input type="submit" class="btn btn-primary" value="Bình luận"/>
        </form>
    {% endif %}

{% endblock %}